# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*~

# Environments
.env
.venv
env/
venv/
ENV/

# SQLite
*.sqlite

# Logs
logs/
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log
.env
config.json
.db.json
memory.json